<div id="container">

    <div id="tableContainer">


        <div style="position: sticky; top: 0;" class="opt">
            <button routerLink="/customer-list"><b>Customer-List</b></button>
            <button routerLink="/payment-list"><b>PaymentMethod-List</b></button>

            <br>
            <i routerLink="/product-save" class="fas fa-plus-square"></i>
            

        </div>

        <h3>{{titulo}}</h3>
        <table>
            <tr>
                <td><b>proId</b></td>
                <td><b>Imagen</b></td>
                <td><b>Name</b></td>
                <td><b>Enable</b></td>
                <td><b>Opción</b></td>
            </tr>

            <tr class="item"  *ngFor="let product of products">
                <td>{{product.proId}}</td>
                <td class="imgBox"><img src="{{product.image}}" alt=""></td>
                <td>{{product.name}}</td>
                <td>{{product.enable}}</td>
                <td>
                    <i [routerLink]="['/product-edit',product.proId]" class="fas fa-edit"></i>
                    <!--a [routerLink]="['/product-edit',product.proId]">Editar</a>-->
                </td>
            </tr>
        </table>

    </div>

</div>