* {
    margin:0;
    padding:0;
    overflow: auto;
}
#container{
    width: 100vw;
    height: 100%;
    display: flex;
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
}

#container #tableContainer{
    
    display: inline-block;
    justify-content: center;
    
    height: 80%;
    width: auto;

}




#container #tableContainer .opt{
    background-color: white;
}

#container #tableContainer .opt button{
    margin-right: 15px;
    margin-bottom: 5px;
    background-color: rgb(255, 222, 36); /* Green */
    border-radius: 5px;
    border: none;
    color: rgb(8, 8, 8);
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#container #tableContainer .opt button:hover{
    cursor: pointer;
    background-color: rgb(184, 160, 28); /* Green */
}


table{
    width: 800px;
    border-collapse: collapse;
}

table tr{
    height:25px;
}

table tr td i{
    font-size: 25px;
    margin-top: 4px;
    margin-right: 10px;
}


table tr td{
    padding-left: 5px;
}


table .item  i{
    color: gray;
}


table .item:hover{
    background-color: rgb(31,10,64);
    color: white
}


table .item i:hover{
    background-color: rgb(31,10,64);
    color: white
}

i{
    
    color: rgb(85, 22, 185);
    font-size: 40px;
    text-align: right;
}
i:hover{
    cursor: pointer;
    color:rgb(31,10,64);
}
