<div id="container">

    <div id="tableContainer">

        <div style="position: sticky; top: 0;" class="opt">
            <button routerLink="/product-list"><b>Product-List</b></button>
            <button routerLink="/payment-list"><b>PaymentMethod-List</b></button>

            <br>
            <i routerLink="/customer-save" class="fas fa-plus-square"></i>
            

        </div>

    
        <h3>{{titulo}}</h3>
        <table>
            <tr>
                <td><b>Email</b></td>
                <td><b>Name</b></td>
                <td><b>Enable</b></td>
                <td><b>Opción</b></td>
            </tr>

            <tr class="item" *ngFor="let customer of customers">
                <td>{{customer.email}}</td>
                <td>{{customer.name}}</td>
                <td>{{customer.enable}}</td>
                <td>
                    <i [routerLink]="['/customerEditEnable',customer.email]" class="fas fa-edit"></i>
                    <i [routerLink]="['/historyCart',customer.email]" class="fas fa-shopping-cart" (click)="goToShopingProduct()"></i>
                    <!--<button (click)="delete(customer.email)">Borrar</button>-->
                </td>
            </tr>
        </table>

    </div>

</div>