<!-- Toolbar -->
<div class="toolbar" role="banner" (click)="closOptAniwhere()">

  <div id="iconBox">
    <i class="fas fa-star-half-alt"></i>
  </div>

  <div class="space"></div>

  <div id="searchBox">
    <input id="searchBar" ng *ngIf="isPrecio==false"type="text" [(ngModel)]="query">

    <!--priceSearch-->
    <input id="from" type="text" class="searchPrice" ng *ngIf="isPrecio==true"type="number" [(ngModel)]="priceFrom" placeholder="from">
    <label id="guion" *ngIf="isPrecio==true">-</label>
    <input type="text" class="searchPrice" ng *ngIf="isPrecio==true" type="number" [(ngModel)]="priceTo"  placeholder="to">
    <!------------------------------------------------------------------------->
    
    <button (click)="search()"><i class="fas fa-search"></i></button>
    
    <input type="checkbox"  value="second_checkbox" [(ngModel)]="all" (click)="searchParams()"> <label class="seacrhLabel">All</label>
    <input type="checkbox"  value="second_checkbox" [(ngModel)]="isName" (click)="searchParams()"> <label class="seacrhLabel">Nombre</label>
    <input type="checkbox"  value="second_checkbox" [(ngModel)]="isDescription" (click)="searchParams()"> <label class="seacrhLabel">Descripcion</label>
    <input type="checkbox"  value="second_checkbox" [(ngModel)]="isPrecio" (click)="searchParams()"> <label class="seacrhLabel">Preio</label>

  </div>

  <!----------------------------- Borrar despues----------------->
  <!--solo muestra estas opciones si esta autenticado-->
  <div id="opt" *ngIf="isAuth()">
    <div id="optbtn">
      <div class="option">
        <i class="fas fa-shopping-cart" (click)="goToShopingProduct()"></i>
      </div>
      <div class="option">
        <i class="fas fa-user-circle" (click)="activarOpt()"></i>
      </div>
    </div>
    <div id="selectSpace">
        <div class="item" (click)="goToHistory()">Historial de compras</div>
        <div *ngIf="customerInfo.customerType==1" class="item" (click)="goCustomerList()">Admin settings</div>
        <div class="item" (click)="editUser()">Editar usuario</div>
        <div class="item" (click)="logOut()">Log out</div>
    </div>
    
    <!--
    <button routerLink="/customer-list">
      Customer
    </button>
    <button routerLink="/product-list">
      Product
    </button>
    <button routerLink="/payment-list">
      Payment Method
    </button>
    -->
  </div>
  <!------------- Borrar despues----------------->

</div>

<div id="content" class="content" role="main">

  <router-outlet></router-outlet>

</div>