.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1F0A40;
    color: white;
    font-weight: 600;
}


#iconBox{
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.space{
  width: 5%;
}

#searchBox{
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 40px;
}

#searchBox #searchBar{
  width: 40%;
  height: 50%;
  border-radius: 5px 0 0 5px;
  padding-left: 10px;
  border: 0.1px solid rgb(109, 109, 109);
}

/***********************************************************************************************/
/*price*/
#searchBox #guion{
  margin-left:10px;
  margin-right:10px;
  font-size: 20px;
}

#searchBox #from{
  border-radius: 5px;
}


#searchBox .searchPrice{
  width: 8%;
  height: 50%;
  border-radius: 5px 0 0 5px;
  padding-left: 10px;
  border: 0.1px solid rgb(109, 109, 109);
}

/***********************************************************************************************/
#searchBox button{
  border: 0;
  width: 5%;
  height: 50%;
  border-radius: 0 5px 5px 0;
  margin: 0;
  background-color: #8335ff;
}

#searchBox input[type=checkbox]{ 
  width: 25px;
  height: 25px;
  margin-left:20px;
}

#searchBox .seacrhLabel{ 
  height: 25px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left:10px;
}


/******************************************************************/

#opt{
  width: 15%;
  height: 100%;
  display: inline-block;
  font-size: 40px;
}

#optbtn{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 40px;
} 

#opt #optbtn .option{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

#opt  #optbtn  .option i:hover{
  cursor: pointer;
  color: rgb(131, 131, 131);
}

#opt #selectSpace{
  width: 100%;
  height:0;
  position: relative;
  z-index: 50!Important;
  display: inline-block;
  font-size: 0;

}

#opt #selectSpace.active{
  width: 100%;
  height: 100px;
  position: relative;
  z-index: 50!Important;
  display: inline-block;
  font-size: 15px;

}




#opt #selectSpace .item{
  margin-left: 10%;
  width: 75%;
  height: 40%;
  background-color: #7e44db;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 10px;
}

#opt #selectSpace .item:hover{
  cursor: pointer;
  background-color: #330877;
}
 
button{
    background-color: rgb(221,0,49);
    margin: 10px;
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
button:hover{
    cursor: pointer;
    background-color: rgb(160, 0, 35);
}












#content{
   
    width: 100vw;
    height: calc(100vh - 60px);
    display: flex;
    position: relative;
    box-sizing: border-box;
    margin-top: 60px;
    margin-bottom: 0;
    padding: 0;
}

