<div id="container">
    
    <div id="fromBox">
        <br>
        <i routerLink="/payment-save" class="fas fa-plus-square"></i>

        <h3>{{titulo}}</h3>

        <table>
            <tr>
                <td><b>payId</b></td>
                <td><b>Name</b></td>
                <td><b>Enable</b></td>
                <td><b>Opción</b></td>
            </tr>

            <tr class="item" *ngFor="let paymentMethod of paymentMethods">
                <td>{{paymentMethod.payId}}</td>
                <td>{{paymentMethod.name}}</td>
                <td>{{paymentMethod.enable}}</td>
                <td>
                    <i [routerLink]="['/payment-edit',paymentMethod.payId]" class="fas fa-edit"></i>
                    <!--<a [routerLink]="['/payment-edit',paymentMethod.payId]">Editar</a>-->
                </td>
            </tr>
        </table>
    </div>

</div>