<div *ngIf="product">

    <div *ngIf="showMsg">
        <p *ngFor="let msg of messages">
            {{msg}}
        </p>
    </div>

    <form #CustomerForm="ngForm">
        <!--el # es un elemento especial de angular-->
        <!--ng-model, escribe inmediatamente en la variable al escribir en el campo-->
        <input readonly type="proId" name="proId" id="proId" #proId placeholder="proId" [(ngModel)]="product.proId" />
        <br>
        <input type="name" name="name" id="name" #name placeholder="Name" [(ngModel)]="product.name" />
        <br>
        <input type="price" name="price" id="price" #price placeholder="Price" [(ngModel)]="product.price" />
        <br>
        <input type="detail" name="detail" id="detail" #detail placeholder="Detail" [(ngModel)]="product.detail" />
        <br>
        <select name="enable" id="enable" #enable [(ngModel)]="product.enable">
            <!--value es el valor que se va a mandar-->
            <option *ngFor="let enable of enables" [value]="enable.id">{{enable.name}}</option>
        </select>
        <br>
        <button (click)="update()">Update</button>
        <button routerLink="/product-list">Cancel</button>
    </form>

</div>