<div id="container" (click)="closeAniwhere($event)">

    <div id="productsView">

        <div id="productContainer">
            <h1><b>Shoping Products</b></h1>

            <div id="titles">

                <div class="titleFoto"><b>Imagen</b></div>
                <div class="titleText"><b>Producto/Precio</b></div>
                <div class="titleText"><b>Cantidad añadida</b></div>
                <div class="titleText"><b>Costo total</b></div>
                <div class="delText"></div>

            </div>
            <div class="item" *ngFor="let shopingProduct of shopingProducts">
                <div id="fotoBox">
                    <img src={{shopingProduct.proImg}}>
                </div>
                <div id="ProductName" class="infoText"><b>{{shopingProduct.proName}}<br>{{shopingProduct.price|pesosTransform}}</b></div>
                <div id="Cantidad" class="infoText"><b>X{{shopingProduct.quantity}}</b></div>
                <div id="total" class="infoText"><b>{{shopingProduct.total|pesosTransform}}</b></div>
                <div id="delete" class="delet"><b><i class="far fa-trash-alt"  (click)="removeProduct(shopingProduct.proId)"></i></b></div>
            </div>

        </div>

    </div>

    <div id="infoShop">

        <div class="info">

            <div id="priceBox">
                <h2>Total</h2>
                <h1 *ngIf="shopingCartInfo">{{shopingCartInfo.total|pesosTransform}}</h1>
            </div>

        </div>

        <div id="pay" class="info">

            <div id="payBox">

                <form #PayForm="ngForm">
                    <input  type="number" name="numberCart" id="numberCart" #numberCart placeholder="# tarjeta" [(ngModel)]="payCartData.cartNumber"/>
                    <select name="enable" id="enable" #enable  [(ngModel)]="payCartData.payId" >
                        <option value=null disabled selected>Método de pago</option>
                        <option *ngFor="let pay of paymentMethodList" [value]="pay.payId">{{pay.name}}</option>
                    </select>
                    <br>
                    <button (click)="openView()">Comprar</button>
                </form>

            </div>

        </div>

    </div>

    <!--dialog comfirm-->
    <!--view dialog-->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div id="header">
                <i class="fas fa-window-close" (click)="closeView()"></i>
            </div>
            <div id="body">

                <div id="textBox">
                    <b>¿estas seguro que deseas comprar todo lo que hay <br> en el carro de compras?</b>
                </div>
                <div id="buttoBox">
                    <button id="si" (click)="payCart()">Si</button>
                    <button id="no" (click)="closeView()">No</button>
                </div>

            </div>

        </div>

    </div>

</div>