<div id="container">

    <div id="productsView">

        <div id="productContainer">
            <h1><b>Shoping Products</b></h1>

            <div class="item" *ngFor="let shopingProduct of shopingProducts">
                <div id="fotoBox"></div>
                <div id="ProductName" class="infoText"><b>j j</b></div>
                <div id="Cantidad" class="infoText"><b>X{{shopingProduct.quantity}}</b></div>
                <div id="total" class="infoText"><b>{{shopingProduct.total|pesosTransform}}</b></div>
                <div id="delete" class="delet"><b><i class="far fa-trash-alt"></i></b></div>
            </div>

        </div>

    </div>

    <div id="infoShop">

        <div class="info">

            <div id="priceBox">
                <h2>Total</h2>
                <h1>55</h1>
            </div>

        </div>

        <div id="pay" class="info">

            <div id="payBox">

                <form #PayForm="ngForm">
                    <input readonly type="number" name="numberCart" id="numberCart" #numberCart placeholder="# tarjeta" />
                    <select name="enable" id="enable" #enable>
                        <option *ngFor="let pay of paymentMethodList" [value]="pay.payId">{{pay.name}}</option>
                    </select>
                    <br>
                    <button >Comprar</button>
                </form>

            </div>

        </div>

    </div>

</div>